* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'comfortaa';
    src: url('./fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
}

/* от телефонов до планшетов:  */

@media (min-width: 0px) and (max-width: 399px) {
    #backerror {
        width: 100%;
        height: 100vh;
        background: url("./pictures/oopsback.png") no-repeat center center fixed;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #backgroundflower {
        position: relative;
        width: 50%;
    }
    #error-page {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #zagonerror {
        font-family: 'gg';
        font-size: 30px;
        font-weight: 100;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #errortextpage {
        font-family: 'alumi';
        font-size: 15px;
        font-weight: 600;
    }
    #buttononerrorpage {
        list-style: none;
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #buttononerrorpage li {
        z-index: 1;
        left: 0;
        margin: 15px 0;
        position: relative;
        background-color: #a0bb0744;
        border-radius: 5px 10px 10px 5px;
        overflow: hidden;
        width: 80%;
        height: 50px;
    }
    #buttononerrorpage li::before {
        content: "";
        position: absolute;
        background-color: #89af00;
        border-radius: 5px 15px 15px 5px;
        left: 0;
        top: 0;
        bottom: 0;
        width: 10px;
        transition: 0.3s all ease-in-out;
    }
    #buttononerrorpage li:hover::before {
        border-radius: 5px 10px 10px 5px;
        width: 110%;
    }
    #buttononerrorpage li a {
        display: grid;
        place-items: center;
        height: 50px;
        text-decoration: none;
        color: #000;
        font-family: "alumr";
        font-weight: 600;
        font-size: 20px;
        position: relative;
        z-index: 2;
    }
}

/* от планшетов до пк: */

@media (min-width: 400px) and (max-width: 1029px) {
    #backerror {
        width: 100%;
        height: 100vh;
        background: url("./pictures/oopsback.png") no-repeat center center fixed;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #backgroundflower {
        position: relative;
        width: 50%;
    }
    #error-page {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #zagonerror {
        font-family: 'gg';
        font-size: 45px;
        font-weight: 100;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #errortextpage {
        font-family: 'alumi';
        font-size: 20px;
        font-weight: 600;
    }
    #buttononerrorpage {
        list-style: none;
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #buttononerrorpage li {
        z-index: 1;
        left: 0;
        margin: 15px 0;
        position: relative;
        background-color: #a0bb0744;
        border-radius: 5px 10px 10px 5px;
        overflow: hidden;
        width: 40%;
        height: 50px;
    }
    #buttononerrorpage li::before {
        content: "";
        position: absolute;
        background-color: #89af00;
        border-radius: 5px 15px 15px 5px;
        left: 0;
        top: 0;
        bottom: 0;
        width: 10px;
        transition: 0.3s all ease-in-out;
    }
    #buttononerrorpage li:hover::before {
        border-radius: 5px 10px 10px 5px;
        width: 110%;
    }
    #buttononerrorpage li a {
        display: grid;
        place-items: center;
        height: 50px;
        text-decoration: none;
        color: #000;
        font-family: "alumr";
        font-weight: 600;
        font-size: 20px;
        position: relative;
        z-index: 2;
    }
}

/* для компьютеров:  */

@media screen and (min-width: 1030px) {
    #backerror {
        width: 100%;
        height: 100vh;
        background: url("./pictures/oopsback.png") no-repeat center center fixed;
        background-size: cover;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    #backgroundflower {
        position: relative;
        width: 35%;
    }
    #error-page {
        margin-left: 5%;
        width: 40%;
        display: flex;
        flex-direction: column;
    }
    #zagonerror {
        font-family: 'gg';
        font-size: 45px;
        font-weight: 100;
        margin-bottom: 10px;
    }
    #errortextpage {
        font-family: 'alumi';
        font-size: 25px;
        font-weight: 600;
    }
    #buttononerrorpage {
        list-style: none;
        margin-top: 25px;
    }
    #buttononerrorpage li {
        z-index: 1;
        left: 0;
        margin: 15px 0;
        position: relative;
        background-color: #a0bb0744;
        border-radius: 5px 10px 10px 5px;
        overflow: hidden;
        width: 40%;
        height: 60px;
    }
    #buttononerrorpage li::before {
        content: "";
        position: absolute;
        background-color: #89af00;
        border-radius: 5px 15px 15px 5px;
        left: 0;
        top: 0;
        bottom: 0;
        width: 10px;
        transition: 0.3s all ease-in-out;
    }
    #buttononerrorpage li:hover::before {
        border-radius: 5px 10px 10px 5px;
        width: 110%;
    }
    #buttononerrorpage li a {
        display: grid;
        place-items: center;
        height: 60px;
        text-decoration: none;
        color: #000;
        font-family: "alumr";
        font-weight: 600;
        font-size: 20px;
        position: relative;
        z-index: 2;
    }
}

/* @media (min-width: 400px) and (max-width: 1029px) {
@media (min-width: 400px) and (max-width: 1029px) {
@media screen and (min-width: 1030px) { */